@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Serif+Pro:wght@600&family=Supermercado+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Source Serif Pro', serif, sans-serif;

    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;

    color: #434343;
}

main.cards{
    display: flex;
    padding: 32px;
    
}

section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin: 0 1rem;
    height: 256px;
}

main.cards section.card .icon{
    width: 64px;
    height: 64px;
}

main.cards section.card i{
    width: 100%;
}

.card h3{
    font-size: 100%;
    margin: 16px 0;
}

.card span{
    font-weight: 400;
    font-size: 80%;
    max-width: 240px;
    margin-bottom: 16px;
}

section button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 26px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: bold;
}

.contact button{
    background: linear-gradient(to right, #9f66ff, #dfcbff);
}

.shop button{
    background: linear-gradient(to right, #3e8aff, #bbdeff);
}

.about button{
    background: linear-gradient(to right, #fe5f8f, #ffc7d9);
}

.contact{
    box-shadow: 20px 20px 50px -20px #b59edd;
}

.shop{
    box-shadow: 20px 20px 50px -20px #aaccff;
}

.about{
    box-shadow: 20px 20px 50px -20px #f7aac1;
}

@media screen and (max-width: 785px) {
    main.cards{
        flex-direction: column;
    }

    section.card{
        margin-bottom: 32px;
    }

    section button{
        font-size: 70%;
    }

}